@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Online</h3>
    </header>
    <p>
        <span class="label">Twitter:</span>
        <span><a href="https://twitter.com/tex_red">@@tex_red</a></span>
    </p>
    <p>
        <span class="label">LinkedIn:</span>
        <span><a href="http://www.linkedin.com/in/davehanlon">Dave Hanlon</a></span>
    </p>
</section>