@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                mumfordland is transitioning to a new host. I'm ditching my traditional host in favor
                of hosting the site in the cloud, specifically in 
                <a href="http://www.windowsazure.com">Windows Azure</a>.
            </p>
        </div>
    </section>
}
<h3>What's the latest:</h3>
<article>
    <header><h1>Moving to Azure</h1></header>
    <div class="subtitle">10/24/2013</div>
    <p>
        Last year, I switched my website over to <a href="https://www.discountasp.net/">DiscountASP.NET</a>
        so I could get back on the .NET stack. I wanted to mess around with the newer versions of .NET that
        had come out, and was also interested in building a site that used <a href="http://ravendb.net/">RavenDB</a>
        for storage. It didn't take very long to get a functioning site out of that move, and then I just
        let it sit and stagnate. Since it felt like I was just throwing money into a black hole, I decided it was time
        to look for something cheaper and thought I'd give <a href="http://www.windowsazure.com">Windows Azure</a>
        a test drive.
    </p>
    <p>
        I had worked with Azure a few years ago on a previous project, but it's changed a lot since then. The 
        management interface is much different, and it looks way more functional now. This should be interesting.
    </p>
</article>
